<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    
    <div class="card">
        <img src="static\rakshitprofile.jpg" class="image" alt="">
        <hr>
        <h1>Rakshit Bagait</h1>
        <h3>|Software Engineer|</h3>
        <img src="static/instagram.webp" alt=""class="link">
        <img src="static/linkedin.webp" alt=""class="link">

        <img src="static/twitter.webp" alt=""class ="link">


    </div>
    
</body>
</html>