<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
          <label for="fname">First name:</label>
    <input type="text" id="fname" name="username"><br><br>
    <label for="lname">email:</label>
    <input type="text" id="lname" name="email"><br><br> 
    <label for="lname">phone:</label>
    <input type="text" id="lname" name="phone"><br><br>
        <label for="lname">mesaage:</label>
    <input type="text" id="lname" name="message"><br><br>


    <button type="submit" value="Submit">submit</button>
    </form>

</body>
</html>